*.pdf
untitled.*
.DS_Store
gpor*
utils/likOrder.m
utils/gendist.m
data/dataverse_files
data/dynamic_MQ
data/SchnakenberFarissReplicationFiles
data/CIRI*
data/*.xlsx
data/esm*
data/GP_*
data/NOMINATE*
data/*.dta
data/sythetic*
data/SCDB*
results
figures
.Rhistory
./DCDS_talk
data/senate_data_85.RData
data/senate_data_92.RData
data/senate_data.RData
DCDS_talk
TAPS/*.RData